/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #111;
  text-align: center;
}

/* Course Container */
.course {
  padding: 50px 20px;
  text-align: left; /* Align text to the left */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #ffdd57;
}

.course p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ddd;
  max-width: 800px; /* Set the maximum width */
  text-align: center; /* Center align text within the container */
}

.course img {
  width: 100%;
  max-width: 800px; /* Set the same maximum width as the text */
  border-radius: 10px;
}

/* Footer/Summary Section */
.summary {
  text-align: center;
  padding: 50px 20px;
  background-color: #222;
}

.summary h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffdd57;
}

.summary p {
  font-size: 1.2rem;
  color: #ccc;
  max-width: 800px;
  margin: 0 auto;
}
